<md-toolbar>
    <nav class="navbar navbar-static-top">
        <div layout='row'>
            <ul class="nav navbar-nav" flex>
                <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <md-button ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li>
            </ul>
            <md-button layout-align="center center" ng-show="!user" ui-sref="login" class="btn login-button">Login</md-button>
            <md-button layout-align="center center" ng-show="!user" ui-sref="signup" class="btn login-button">Signup</md-button>
            <div layout="row" layout-align="center center" ng-show="user">
                <h4>Welcome, {{ user.email }}!</h4>
                <md-button class="md-warn" ng-click="logout()">Logout</md-button>
            </div>
        </div>
    </nav>
</md-toolbar>