<md-content layout-padding>
	<div>
		<form name="userForm" layout='column' ng-submit='submitForm()'>
      <div layout="row" class="md-title">
        RESTAURANT
      </div>
        <md-input-container class="md-block" flex-gt-xs>
          <input ng-model="restaurant.name" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="restaurant.address.address1" required placeholder="Address">
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="restaurant.address.address2" placeholder="Address 2">
        </md-input-container>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
         <label>City</label>
         <input ng-model="restaurant.address.city" required>
       </md-input-container>
       <md-input-container class="md-block" flex-gt-sm>
         <label>State</label>
         <md-select ng-model="restaurant.address.state" required>
          <md-option ng-repeat="state in states" value="{{state.abbrev}}">
           {{state.abbrev}}
         </md-option>
       </md-select>
     </md-input-container>
     <md-input-container class="md-block" flex-gt-sm>
       <label>Postal Code</label>
       <input name="postalCode" ng-model="restaurant.address.zip" placeholder="12345" required ng-pattern="/^[0-9]{5}$/">
       <div ng-messages="userForm.postalCode.$error" role='alert'>
        <div ng-message="pattern" role='alert' class="my-message">Please enter zip code in the format of 55555.</div>
      </div>
    </md-input-container>
  </div>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Phone Number</label>
    <input name="phoneNumber" ng-model="restaurant.address.phone" placeholder="555-555-5555" required ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/">
    <div ng-messages="userForm.phoneNumber.$error" role='alert'>
      <div ng-message="pattern" role='alert' class="my-message">Please enter phone number in the format of 555-555-5555.</div>
    </div>
  </md-input-container>

  <div layout="row" class="md-title">
    SEATING
  </div>

  <div ng-repeat="table in restaurant.seating" layout-gt-sm="row" layout-margin='5%' layout-align='left center'>
    <md-input-container flex='initial'>
      <input placeholder='Number of Tables' required type="number" name="rate" ng-model="table.quantity" min="1">
    </md-input-container>
    <p> tables that seat </p>
    <md-input-container flex='initial'>
      <input placeholder='Table Size' required name="rate" ng-model="table.size" min="1">
    </md-input-container>
    <md-button class="glyphicon glyphicon-plus" ng-show='$last' ng-click='addTable()'></md-button>
  </div>

  <div layout-align='center'>
    <md-button type="button" ng-click="reset()">RESET</md-button>
    <md-button type="submit" ng-disabled="userForm.$invalid" class="md-primary">SUBMIT</md-button>
    <div ng-messages="userForm.$error" role='alert'>
      <div ng-message="required" role='alert' class="my-message"></div>
    </div>
  </div>

</form>
</div>
</md-content>
