<div layout="row">
	<div flex-order='20'>
		<md-sidenav class="md-sidenav-right" md-component-id="right" md-is-locked-open="true">
			<md-toolbar>
				<h1 layout-align="center center" class="md-toolbar-tools">Partner Tools</h1>
				<md-menu-bar layout='column'>
					<md-menu>
						<button ng-click="$mdOpenMenu()">
							Edit Reservations
						</button>
						<md-menu-content>
							<md-menu-item ng-repeat="restaurant in restaurants">
								<md-button ui-sref="partner.editrez({restaurant: restaurant._id})">
									{{restaurant.name}}
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
					<md-menu>
						<button class="md-primary md-hue-1" ng-click="$mdOpenMenu()">
							Edit Restaurants
						</button>
						<md-menu-content>
							<md-menu-item ng-repeat="restaurant in restaurants">
								<md-button ui-sref="partner.editrest({restaurant: restaurant._id})">
									{{restaurant.name}}
								</md-button>
							</md-menu-item>
              <md-menu-item>
                <md-button ui-sref="partner.newrest">
                  Add New Restaurant
                </md-button>
              </md-menu-item>
						</md-menu-content>
					</md-menu>
          <md-menu>
            <button class="md-primary md-hue-1" ng-click="$mdOpenMenu()">
              Analyze Restaurants
            </button>
            <md-menu-content>
              <md-menu-item ng-repeat="restaurant in restaurants">
                <md-button ui-sref="partner.analyzerest({restaurant: restaurant._id})">
                  {{restaurant.name}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
				</md-menu-bar>
			</md-toolbar>
		</md-sidenav>
	</div>
	<div flex-order='1' flex ui-view></div>
</div>