.signup-form {
  width: 60%;
  margin: 0 auto;
}

table {
	margin: 0 auto;
	width: 60%;
}
th {
	width: 60%;
	margin: 0 auto;
}

td {
	vertical-align: top;
}

h3 {
	text-align: center;
}

table {
	display: flex;
	flex-direction: column;
	align-items: center;
}

tbody {
	width: 80%
}